@import 'open-props/style';
@import 'open-props/normalize/dark';
@import 'open-props/buttons';

:root {
	--brand: var(--orange-4);
	--text-1: var(--gray-3);
	--text-2: var(--gray-4);
	--surface-1: var(--gray-8);
	--surface-2: var(--gray-7);
	--surface-3: var(--gray-6);
	--surface-4: var(--gray-5);
	--surface-shadow: var(--gray-9);
	--shadow-strength: 20%;
	--size-xl: 1280px;
}

html {
	background-color: var(--surface-1);
	color: var(--text-1);
}

html,
body {
	height: 100%;
}

.container {
	width: 100%;
	max-width: var(--size-xl);
	min-height: 0;
	margin-inline: auto;
	padding-inline: var(--size-2);

	@media (min-width: 768px) {
		padding-inline: var(--size-3);
	}

	@media (min-width: 1280px) {
		padding-inline: 0px;
	}
}

.rad-shadow {
	border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
	box-shadow: 0 1rem 0.5rem -0.5rem;
	box-shadow:
		0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
		0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 1%)),
		0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
		0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
		0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
		0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}
